<%= form_for [@story, @story.snippets.build], :html => {:class => 'form-horizontal', :name => 'snippetForm'} do |f| %>
    <div class="control-group">
        <%= f.text_area :content, :class => 'text_area, input-block-level', :placeholder => 'What happens next?' %>
    </div>
	
	<%= f.hidden_field :ifSave, :value => '', :id => 'ifSave' %>

<% end %>
