<h1>Listing snippets</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @snippets.each do |snippet| %>
      <tr>
        <td><%= snippet.content %></td>
        <td><%= link_to 'Show  ', story_snippet_path(@story, snippet) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Snippet', new_story_snippet_path(@story) %>
