<%- model_class = Snippet -%>
<div class="page-header">
 <h1 class="snippet"><%= @story.title %></h1>
</div>

<h2>
<% if @story.snippets.first.content != nil %>
 <%= @story.snippets.order("created_at ASC").last.content%>
<% else %> 
 Hey dude, you have the honor of beginning this story!
<% end %>
</h2>

<%= render :partial => 'form' %>



<h4>The following bar helps you to situate your action in the story</h4>
<progress value="<%= @story.snippets.count %>" max="20"></progress>  

