<h2>


<% if Story.where(status: 'editable').count > 0 %>
 <%= link_to 'Continue an existing story', new_story_snippet_path(Story.where(status: 'editable').offset(rand(Story.where(status: 'editable').count)).first.id) %>
<% else %> 
 No editable story at the moment
<% end %>
</h2>