<h3>STORYSMOKER - SMOKE YOUR STORIES - TOGETHER</h3>


<div id="read">
 <h1><%= link_to 'Read existing Stories', stories_path %></h1>
</div>
<div id="create">   
 <h1><%= link_to 'Try it out yourself', new_story_path %></h1>
</div>


