<head>
<title>StorySmoker - test the story</title>
</head>

<body>
 <!-- Nav START here -->

   <div id="navbar">
<span class="inbar">
<ul>
<li class="navhome"><a href="home.html"><span>Home</span></a></li>
<li><a href="about.html"><span>About</span></a></li>
<li><a href="contact.html"><span>Products</span></a></li>
<li><a href="contact.html"><span>Contact Us</span></a></li>
<li><a href="contact.html"><span>Registration</span></a></li>
</ul>
</span>
</div>

      <!-- Nav END here -->
      <br><br><br>
<h1>StorySmoker</h1>




 <!-- Content START here -->
  <div id="content">
    <!-- Container START here -->
    <div class="container">
      <!-- Main-Colum START here -->
      <div id="main-colum">
        <!-- Features START here -->
        <div id="features">
          <!-- Feature-Box #1 START here -->
          <div class="feature-box">
            <div class="inside">
              <h5>Read The Story</h5>
              
              <p><a href="services.html">Here you can read existing stories</a></p>
            </div>
          </div>
          <!-- Feature-Box #1 END here -->
          
          
          <!-- Feature-Box #2 START here -->
          <div class="feature-box">
            <div class="inside">
              <h5>Create A Story</h5>
             
              <p>Here you can create your own Story</p>
            </div>
          </div>
          <!-- Feature-Box #2 END here -->
  </div>
  <!-- Content END here -->




</body>
