<%- model_class = Story -%>
<div class="page-header">
  <h1><%= @story.title %></h1>
</div>



<% @story.tags.each do |tag| %>
 <%= link_to tag.name, tagged_url(:tag => tag.name) %>
<% end %>


you are here

<%= render @story.snippets %>
