// Place all the styles related to the Snippets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


progress {  
 background-color: #f3f3f3;  
 border: none;  
 height: 40px;
 width: 100%;
}  

