// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#tagStoryShow{
 background-image: url('bs.png');
 width: 472px;
 height: 334px;
}

#tagStoryShowList{
 width: 150px;
 position: relative;
 top: 70px;
 left: 90px;
}

