// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

<<<<<<< HEAD
=======


>>>>>>> 27503332ab6bdba6c576a218ccba43c3e26b8227
h3 {
 text-align: center;
}

<<<<<<< HEAD
=======

#read, #create{
 padding: 0px;
 margin: 0px;
}

>>>>>>> 27503332ab6bdba6c576a218ccba43c3e26b8227
#read {
 float: left;
}
#create{
 float: right;
<<<<<<< HEAD
}
=======
}
>>>>>>> 27503332ab6bdba6c576a218ccba43c3e26b8227
