// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.image{
 display: block;
 margin: 0 auto;
}


#catchphrase {
 text-align: center;
}


#read {
 float: left;

}
#create{
 float: right;
}


a {
 color: #eee;
}



.tag_cloud1{
  font-size: 2em;
  font-weight: bolder;

}
.tag_cloud2{
  font-size: 1.5em;
  font-weight: bold;
}
.tag_cloud3{
  font-size: 1em;
  font-weight: normal;
}
.tag_cloud4{
  font-size: 1em;
  font-weight: lighter;
}